/*
 * Shelves Books
 */

 /* Grid */

 .grid-books {
   flex-grow: 1;
   max-width: 100%;
   overflow-x: hidden;
 }

 .paper-shelf {
   padding: 16px;
   text-align: center;
   color: rgb(36, 72, 159);
 }

 /*
  * Book
  */

  /* Card */

 .card-book {
   max-width: 400px;
   margin: 20px;
 }

 .card-avatar {
   background-color: #f44336!important;
 }

 .card-media {
   height: 194px;
 }

 .card-actions {
   display: flex;
   justify-content:  flex-end;
 }

 /*
  * Book Detail
  */

  .navbar-book-detail {
    position: relative;
  }

  .btn-show-detail span{
    color: #f44336;
  }

  .content-detail {
    flex-grow: 1;
    margin-top: 120px;
    margin: 120px 20px;
  }

  .image-detail {
    padding: 20px;
    height: 440px;
  }

  .book-detail-description {
    text-align: justify;
  }
