/*
 * App styles: AppBar
 */

 /* Header */
.navbar-books {
  width: 100%;
}

.flex-typography {
  flex: 1;
}

.icon-search {
  color: #fff!important;
  flex: 1;
}

/* Footer */

footer {
  padding: 20px;
  text-align: center;
  background-color: #3f51b5;
  color: #fff;
  margin-top: 10px;
}
